{% extends 'base.html' %}
{% load static %}

{% block title %}Attribuer des doléances{% endblock title %}
{% block nav-btn %}
    <a href="{% url 'logout' %}" class="btn btn-outline-danger text-center text-light border-light btn-sm mx-2"
       id="btn-nav">
        Logout
    </a>
    <a href="{% url 'gmao:liste_interventions' %}"
       class="btn btn-outline-info text-center text-light border-light btn-sm mx-2" id="btn-nav">
        Liste des interventions
    </a>
    <a href="{% url 'gmao:toutes_les_doleances' %}"
       class="btn btn-outline-info text-center text-light border-light btn-sm mx-2" id="btn-nav">
        Liste des doléances
    </a>
    {% if user.role == 'ADMIN' %}
        <a href="{% url 'gmao_teams:liste_equipes' %}"
           class="btn btn-outline-success text-center text-light border-light btn-sm mx-2" id="btn-nav">
            Gestion des équipes
        </a>
    {% endif %}
{% endblock nav-btn %}
{% block navbar-content %}
    <i style="color: hsl(137, 90%, 50%);" class="fa-solid fa-user-alt"></i>
    &nbsp;&nbsp;&nbsp;{{ user.first_name }}&nbsp;{{ user.last_name }}
{% endblock navbar-content %}
{% block content %}
    <div class="container mt-4">
        <h2>Attribuer des doléances à l'équipe : {{ equipe.nom }}</h2>
        <form id="attribuerDoleanceForm">
            {% csrf_token %}
            <input type="hidden" id="equipeId" value="{{ equipe.id }}">
            <div class="form-group">
                <label for="doleance">Sélectionner une doléance</label>
                <select class="form-control" id="doleance" name="doleance">
                    {% for doleance in doleances %}
                        <option value="{{ doleance.id }}">{{ doleance.ndi }} - {{ doleance.panne_declarer }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Attribuer</button>
        </form>
        <div class="mt-4">
            <h3>Doléances attribuées</h3>
            <ul id="doleancesList">
                <!-- La liste des doléances attribuées sera chargée dynamiquement ici -->
            </ul>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'gmao_teams/js/equipes.js' %}"></script>
{% endblock extra_js %}