
body {
    padding-top: 56px; /* Ajustez cette valeur selon la hauteur de votre navbar */
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* Pour s'assurer que le contenu ne soit pas caché sous la navbar fixe */
.container-fluid {
    padding-top: 70px;
}

/* Ajuster le footer pour qu'il reste en bas */
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1;
}

#footer {
    flex-shrink: 0;
}

/* ... autres styles ... */