{% extends 'base.html' %}
{% load static %}

{% block title %}Détails de l'intervention{% endblock %}

{% block nav-btn %}
    <a href="{% url 'logout' %}" class="btn btn-outline-danger text-center text-light border-light btn-sm mx-2"
       id="btn-nav">Logout</a>
    <a href="{% url 'gmao:liste_interventions' %}"
       class="btn btn-outline-info text-center text-light border-light btn-sm mx-2" id="btn-nav">Liste des
        interventions</a>
{% endblock nav-btn %}

{% block navbar-content %}
    <i style="color: hsl(137, 90%, 50%);" class="fa-solid fa-user-alt"></i>
    &nbsp;&nbsp;&nbsp;{{ user.first_name }}&nbsp;{{ user.last_name }}
{% endblock navbar-content %}

{% block extra_css %}
    <style>
        .gauge-container {
            width: 200px;
            height: 200px;
            margin: auto;
        }

        .row {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .col-md-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        .col-md-8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover, .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"], input[type="date"], input[type="time"], textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if intervention.is_half_done and not intervention.is_done %}
        <button class="btn btn-danger btn-sm annuler-intervention" data-id="{{ intervention.id }}">Annuler</button>
    {% endif %}
    <h2>Détails de l'intervention pour la doléance {{ intervention.doleance.ndi }}</h2>
    <p>{{ intervention.doleance.panne_declarer }}</p>

    <div class="row">
        <div class="col-md-4">
            <div class="gauge-container">
                <canvas id="interventionGauge"></canvas>
            </div>
            <div class="progress">
                {% if intervention.is_done %}
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100">Terminée
                    </div>
                {% elif intervention.is_half_done %}
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 66%;" aria-valuenow="66"
                         aria-valuemin="0" aria-valuemax="100">En cours
                    </div>
                {% elif intervention.top_depart %}
                    <div class="progress-bar bg-info" role="progressbar" style="width: 33%;" aria-valuenow="33"
                         aria-valuemin="0" aria-valuemax="100">Démarrée
                    </div>
                {% else %}
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 0;" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100">Non commencée
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <p>Début de prise en charge : {{ intervention.top_depart }}</p>
            <p>Début du travail : <span id="top_debut">{{ intervention.top_debut|default:"Non commencé" }}</span></p>
            <p>Fin du travail : {{ intervention.top_terminer|default:"Non terminé" }}</p>
            <p>Durée de l'intervention : <span
                    id="dureeIntervention">{{ intervention.duree_intervention|default:"0" }}</span> secondes</p>
            <p>Statut :
                {% if intervention.is_done %}
                    Terminée
                {% elif intervention.is_half_done %}
                    En cours
                {% else %}
                    Non commencée
                {% endif %}
            </p>
        </div>
    </div>

    <h3>Techniciens affectés :</h3>
    <ul>
        {% for tech in techniciens %}
            <li>{{ tech.personnel.nom_personnel }} {{ tech.personnel.prenom_personnel }}</li>
        {% empty %}
            <li>Aucun technicien affecté</li>
        {% endfor %}
    </ul>

    {% if not intervention.is_done %}
        {% csrf_token %}
        {% if not intervention.top_debut %}
            <a href="{% url 'gmao:commencer_intervention' intervention.id %}"
               class="btn btn-primary btn-sm commencer-intervention" data-id="{{ intervention.id }}">
                Commencer le travail
            </a>
        {% elif not intervention.top_terminer %}
            <button id="openInterventionForm" class="btn btn-success">Terminer le travail</button>
        {% endif %}
    {% endif %}

    <!-- Modal pour le formulaire de fin d'intervention -->
    <div id="interventionFormModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Fiche d'Intervention</h3>
            <form id="interventionForm">
                <input type="hidden" id="intervention-id-input" name="intervention_id" value="{{ intervention.id }}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="numero_fiche">Numéro de fiche :</label>
                    <input type="text" id="numero_fiche" name="numero_fiche" maxlength="5" pattern="\d{1,5}" required>
                </div>
                <div class="form-group">
                    <label for="ndi">NDI :</label>
                    <input type="text" id="ndi" name="ndi" value="{{ intervention.doleance.ndi }}" readonly>
                </div>
                <div class="form-group">
                    <label for="date">Date :</label>
                    <input type="date" id="date" name="date" value="{{ intervention.top_debut|date:'Y-m-d' }}" readonly>
                </div>
                <div class="form-group">
                    <label for="heure_debut">Heure de début :</label>
                    <input type="time" id="heure_debut" name="heure_debut"
                           value="{{ intervention.top_debut|time:'H:i' }}" readonly>
                </div>
                <div class="form-group">
                    <label for="heure_fin">Heure de fin :</label>
                    <input type="time" id="heure_fin" name="heure_fin" required>
                </div>
                <div class="form-group">
                    <label for="station">Station :</label>
                    <input type="text" id="station" name="station"
                           value="{{ intervention.doleance.station.libelle_station }}" readonly>
                </div>
                <div class="form-group">
                    <label for="panne_declaree">Panne déclarée :</label>
                    <textarea id="panne_declaree" name="panne_declaree" rows="3"
                              readonly>{{ intervention.doleance.panne_declarer }}</textarea>
                </div>
                <div class="form-group">
                    <label for="description_panne">Description de la panne constatée :</label>
                    <textarea id="description_panne" name="description_panne" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="resolution">Résolution:</label>
                    <textarea id="resolution" name="resolution" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="observations">Observations :</label>
                    <textarea id="observations" name="observations" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="pieces_changees">Pièces changées :</label>
                    <textarea id="pieces_changees" name="pieces_changees" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="statut-final">Statut final de l'intervention :</label>
                    <select id="statut-final" name="statut_final" required>
                        <option value="">Choisissez un statut</option>
                        <option value="TER">Terminé (TER)</option>
                        <option value="ATP">Attente Pièces (ATP)</option>
                        <option value="ATD">Attente Décision (ATD)</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Terminer l'intervention</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script>
        function commencerIntervention(interventionId) {
            console.log("Début de commencerIntervention", interventionId);
            let kilometrage = prompt("Veuillez entrer le kilométrage de départ:");
            if (kilometrage === null) return; // L'utilisateur a annulé

            $.ajax({
                url: '/home/commencer-intervention/' + interventionId + '/',
                type: 'POST',
                data: {
                    kilometrage: kilometrage,
                    csrfmiddlewaretoken: getCookie('csrftoken')
                },
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                success: function (response) {
                    if (response.success) {
                        alert('Intervention commencée avec succès.');
                        $('#top_debut').text(response.top_debut);
                        $('.progress-bar').removeClass('bg-info').addClass('bg-warning')
                            .css('width', '66%')
                            .attr('aria-valuenow', 66)
                            .text('En cours');
                        $('.commencer-intervention').hide();
                        $('#openInterventionForm').show();
                    } else {
                        alert('Erreur lors du démarrage de l\'intervention: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Erreur AJAX:", xhr.responseText);
                    alert('Erreur lors de la communication avec le serveur: ' + error);
                }
            });
        }

        $(document).on('click', '.commencer-intervention', function (e) {
            e.preventDefault();
            var interventionId = $(this).data('id');
            // version
            commencerIntervention(interventionId);
        });

        function annulerIntervention(interventionId) {
            if (!confirm("Êtes-vous sûr de vouloir annuler cette intervention ?")) return;

            $.ajax({
                url: '/home/intervention/' + interventionId + '/annuler/',
                type: 'POST',
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                success: function (response) {
                    if (response.success) {
                        alert('Intervention annulée avec succès.');
                        location.reload();
                    } else {
                        alert('Erreur lors de l\'annulation de l\'intervention: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Erreur AJAX:", xhr.responseText);
                    alert('Erreur lors de la communication avec le serveur: ' + error);
                }
            });
        }

        $(document).on('click', '.annuler-intervention', function (e) {
            e.preventDefault();
            var interventionId = $(this).data('id');
            annulerIntervention(interventionId);
        });

        document.addEventListener('DOMContentLoaded', function () {
            const upperCaseInputs = document.querySelectorAll('input[type="text"], textarea');
            upperCaseInputs.forEach(input => {
                input.addEventListener('input', function () {
                    this.value = this.value.toUpperCase();
                });
            });

            var ctx = document.getElementById('interventionGauge').getContext('2d');
            var status = '{{ intervention.is_done|yesno:"Terminée,En cours" }}';
            var duree = parseInt('{{ intervention.duree_intervention|default_if_none:0 }}');
            var maxDuree = 3600; // 1 heure en secondes

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [duree, maxDuree - duree],
                        backgroundColor: [
                            status === 'Terminée' ? 'rgba(75, 192, 192, 0.8)' : 'rgba(255, 206, 86, 0.8)',
                            'rgba(220, 220, 220, 0.8)'
                        ],
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    circumference: 180,
                    rotation: -90,
                    cutout: '80%',
                    plugins: {
                        tooltip: {enabled: false},
                        legend: {display: false}
                    }
                }
            };

            new Chart(ctx, config);

            var modal = document.getElementById("interventionFormModal");
            var btn = document.getElementById("openInterventionForm");
            var span = document.getElementsByClassName("close")[0];
            var form = document.getElementById("interventionForm");

            if (btn) {
                btn.onclick = function () {
                    modal.style.display = "block";
                    document.getElementById('heure_fin').value = new Date().toTimeString().slice(0, 5);
                }
            }

            if (span) {
                span.onclick = function () {
                    modal.style.display = "none";
                }
            }

            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }

            if (form) {
                form.onsubmit = function (e) {
                    e.preventDefault();
                    fetch('{% url "gmao:terminer_travail" intervention.id %}', {
                        method: 'POST',
                        body: new FormData(form),
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('Intervention terminée avec succès');
                                window.location.reload();
                            } else {
                                let errorMessage = 'Erreur lors de la terminaison de l\'intervention: ';
                                if (typeof data.message === 'object') {
                                    for (let key in data.message) {
                                        errorMessage += `\n${key}: ${data.message[key]}`;
                                    }
                                } else {
                                    errorMessage += data.message;
                                }
                                alert(errorMessage);
                            }
                        })
                        .catch(error => {
                            console.error('Erreur:', error);
                            alert(`Une erreur est survenue lors de la terminaison de l'intervention`);
                        });
                }
            }
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock extra_js %}