{% extends 'base.html' %}
{% load static %}

{% block title %}Liste des interventions{% endblock title %}

{% block nav-btn %}
    <a href="{% url 'logout' %}" class="btn btn-outline-danger text-center text-light border-light btn-sm mx-2"
       id="btn-nav">Logout</a>
    <a href="{% url 'gmao:home' %}" class="btn btn-outline-primary text-center text-light border-light btn-sm mx-2"
       id="btn-nav">Retour à l'accueil</a>
{% endblock nav-btn %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/themes/dark.min.css">
    <style>
        .filter-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
        }

        .filter-container > * {
            margin-bottom: 0;
        }

        .form-select, .form-control {
            width: auto;
        }

        @media (max-width: 768px) {
            .filter-container {
                flex-direction: column;
                align-items: stretch;
            }

            .filter-container > * {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    </style>
    <style>
        /* ... Vos autres styles ... */

        #interventionsTable td {
            white-space: normal;
            word-break: break-word;
        }

        #interventionsTable .techniciens-cell {
            max-width: 150px; /* Ajustez selon vos besoins */
        }
    </style>
{% endblock %}

{% block navbar-content %}
    <i style="color: hsl(137, 90%, 50%);" class="fa-solid fa-user-alt"></i>
    &nbsp;&nbsp;&nbsp;{{ user.first_name }}&nbsp;{{ user.last_name }}
{% endblock navbar-content %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">Liste des interventions {{ current_date }}</h4>
                        {% if is_admin %}
                            <div class="d-flex align-items-center">
                                <label for="clientFilter"></label><select id="clientFilter" class="form-control mr-2">
                                <option value="">Tous les clients</option>
                                <!-- Les options seront remplies dynamiquement -->
                            </select>
                            </div>
                            <div class="filter-container">
                                <label for="startDate"></label><input type="text" id="startDate"
                                                                      class="form-control form-control-sm flatpickr-input"
                                                                      placeholder="Date début">
                                <label for="endDate"></label><input type="text" id="endDate"
                                                                    class="form-control form-control-sm flatpickr-input"
                                                                    placeholder="Date fin">
                                <button id="filterDate" class="btn btn-info btn-sm">Filtrer</button>
                                <button id="resetDate" class="btn btn-secondary btn-sm">Réinitialiser</button>
                            </div>

                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div id="loadingIndicator" style="display: none; text-align: center; padding: 20px;">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Chargement...</span>
                            </div>
                            <p>Chargement des données en cours...</p>
                        </div>
                        <table id="interventionsTable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>NDI</th>
                                <th>Station</th>
                                <th>Panne</th>
                                <th>Résolution</th>
                                <th>FI</th>
                                <th>Début</th>
                                <th>Fin</th>
                                <th>Statut</th>
                                <th>Techniciens</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script>
        $(document).ready(function () {
            // Configuration de base pour Flatpickr
            const flatpickrConfig = {
                dateFormat: "d/m/Y",
                maxDate: "today"
            };

            // Initialisation de Flatpickr pour la date de début
            const startDatePicker = flatpickr("#startDate", {
                ...flatpickrConfig,
                onChange: function (selectedDates, dateStr, instance) {
                    endDatePicker.set('minDate', dateStr);
                }
            });

            // Initialisation de Flatpickr pour la date de fin
            const endDatePicker = flatpickr("#endDate", {
                ...flatpickrConfig,
                onChange: function (selectedDates, dateStr, instance) {
                    startDatePicker.set('maxDate', dateStr);
                }
            });

            let table;
            $.ajax({
                url: '{% url "gmao:get_clients" %}',
                type: 'GET',
                success: function (response) {
                    var select = $('#clientFilter');
                    $.each(response.clients, function (index, client) {
                        select.append($('<option></option>').val(client.id).text(client.nom_client));
                    });
                }
            });
            $('#clientFilter').change(function () {
                table.ajax.reload();
            });

            function initializeDataTable() {
                if ($.fn.DataTable.isDataTable('#interventionsTable')) {
                    table.destroy();
                }

                table = $('#interventionsTable').DataTable({
                    ajax: {
                        url: '{% url "gmao:get_interventions_data" %}',
                        dataSrc: function (json) {
                            if (!json.data) {
                                return [];  // Retourne un tableau vide si aucune donnée
                            }
                            window.fullInterventionsData = json.data;
                            return json.data;
                        },
                        error: function (xhr, error, thrown) {
                            console.log('Erreur Ajax:', error);
                            console.log('Détails:', thrown);
                            alert('Erreur lors du chargement des données. Veuillez vérifier la console pour plus de détails.');
                        },
                        data: function (d) {
                            d.startDate = $('#startDate').val();
                            d.endDate = $('#endDate').val();
                            d.client = $('#clientFilter').val();
                        }
                    },
                    columns: [
                        {data: 'ndi'},
                        {data: 'station'},
                        {data: 'panne'},
                        {data: 'resolution'},
                        {
                            data: 'numero_fiche',
                            render: function (data, type, row) {
                                return data.split('00');
                            }
                        },
                        {data: 'debut_travail'},
                        {data: 'fin_travail'},
                        {data: 'statut'},
                        {
                            data: 'techniciens',
                            render: function (data, type, row) {
                                if (type === 'display') {
                                    return data.split(', ').join('<br>');
                                }
                                return data;
                            }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return '<a href="/home/intervention/' + row.id + '/" class="btn btn-sm btn-primary">Éditer</a>';
                            }
                        }
                    ],
                    createdRow: function (row, data, dataIndex) {
                        $(row).addClass('status-' + data.statut);
                    },
                    language: {
                        {#url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/French.json'#}
                        //url: "https://cdn.jsdelivr.net/npm/datatables.net-plugins@1.10.24/i18n/French.json"
                        url: "{% static 'js/French.json' %}"
                    },
                    responsive: true,
                    ordering: false,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            text: 'Exporter en Excel',
                            action: function (e, dt, node, config) {
                                exportToExcel(dt);
                            },
                        },
                    ],
                    initComplete: function () {
                        $('#loadingIndicator').hide();
                    }
                });
            }

            initializeDataTable();

            function exportToExcel(dt) {
                const data = dt.data().toArray();

                const formattedData = data.map(function (row) {
                    console.log('Row data:', row);  // Afficher les données de la ligne pour le débogage

                    const dureeTravailMinutes = parseFloat(row.duree_de_travail);
                    const dureeTotaleHeures = isNaN(dureeTravailMinutes) ? 0 : (dureeTravailMinutes / 3600).toFixed(2);
                    console.log('Durée totale en heures:', dureeTotaleHeures);  // Afficher la durée totale en heures pour le débogage

                    const nombreTechniciens = row.techniciens ? row.techniciens.split(',').length : 0;
                    console.log('Nombre de techniciens:', nombreTechniciens);  // Afficher le nombre de techniciens pour le débogage

                    const heuresEffectives = (dureeTotaleHeures * nombreTechniciens).toFixed(2);
                    console.log('Heures effectives:', heuresEffectives);  //
                    return {
                        'Appelant': row.appelant || '',
                        'Transmission': row.transmission || '',
                        'BT': row.bt || '',
                        'NDI': row.ndi || '',
                        'SITE': row.station || '',
                        'APPAREIL': row.element || '',
                        'ELEMENT': row.element || '',
                        'PANNE DECLAREE/DEMANDE': row.panne || '',
                        'SITUATION': row.statut || '',
                        'RESOLUTION': row.resolution || '',
                        'DATE DE TRANSMISSION': row.date_transmission || '',
                        'DATE LIMITE': row.date_deadline || '',
                        'DATE DEBUT': row.debut_travail || '',
                        'DATE FIN': row.fin_travail || '',
                        'N FI': row.numero_fiche || '',
                        'NOMBRE DE TECH': nombreTechniciens,
                        'KILOMETRAGE': row.kilometrage_depart || '',
                        'OBSERVATION': row.commentaires || '',
                        'INTERVENANT': row.techniciens || '',
                        'DUREE TOTALE': dureeTotaleHeures,
                        'HEURES EFFECTIVES': heuresEffectives,
                    };
                });
                console.log('Formatted data:', formattedData);

                const ws = XLSX.utils.json_to_sheet(formattedData);

                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, "Interventions");

                const wbout = XLSX.write(wb, {bookType: 'xlsx', type: 'binary'});

                function s2ab(s) {
                    const buf = new ArrayBuffer(s.length);
                    const view = new Uint8Array(buf);
                    for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                    return buf;
                }

                console.log('Writing file...');
                saveAs(new Blob([s2ab(wbout)], {type: "application/octet-stream"}), "liste_interventions.xlsx");
                console.log('File written successfully.');
                {% comment %}console.log('Formatted data:', formattedData);

                const ws = XLSX.utils.json_to_sheet(formattedData);

                // Définir le type de cellule pour toutes les colonnes
                for (let i = 0; i < formattedData.length; i++) {
                    for (let j in formattedData[i]) {
                        const cellRef = XLSX.utils.encode_cell({r: i + 1, c: XLSX.utils.decode_col(j)});
                        if (!ws[cellRef]) continue;
                        ws[cellRef].t = 's'; // Définir toutes les cellules comme type 'string'
                    }
                }

                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, "Interventions");

                const wbout = XLSX.write(wb, {bookType: 'xlsx', type: 'binary'});

                function s2ab(s) {
                    const buf = new ArrayBuffer(s.length);
                    const view = new Uint8Array(buf);
                    for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                    return buf;
                }

                saveAs(new Blob([s2ab(wbout)], {type: "application/octet-stream"}), "liste_interventions.xlsx");{% endcomment %}
            }

            $('#filterDate').on('click', function () {
                if ($('#startDate').val() && $('#endDate').val()) {
                    initializeDataTable();
                } else {
                    alert('Veuillez sélectionner une date de début et une date de fin.');
                }
            });

            $('#resetDate').on('click', function () {
                $('#startDate').val('');
                $('#endDate').val('');
                startDatePicker.setDate(null);
                endDatePicker.setDate(null);
                initializeDataTable();
            });
        });
    </script>
{% endblock extra_js %}