{% extends 'base.html' %}
{% load static %}

{% block title %}Changer le mot de passe - MEI{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="login-container">
        <div class="login-box">
            <h5>Changer le mot de passe </h5>
            <h6>{{ user }}</h6>
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="new_password">Nouveau mot de passe</label>
                    <input type="password" id="new_password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirmer le mot de passe</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit">Changer le mot de passe</button>
            </form>
        </div>
    </div>
{% endblock content %}